#contact {
    padding: 120px 0 60px;
    iframe {
        width: 1140px;
        height: 420px;
        border: 0;
        margin: 0 auto;
        display: block;
    }

    .contact-content {
        max-width: 1140px;
        display: flex;
        margin: 70px auto;
        .contacts {
            display: flex;
            flex-direction: column;
            gap: 10px;
            .contact-item {
                display: flex;
                width: 260px;
                height: 50px;
                justify-content: space-between;
                align-items: center;
                i {
                    font-size: 20px;
                    line-height: 24px;
                    color: #faba00;
                    margin: 0;
                }

                .contact-item-text {
                    span {
                        font-family: 'Heebo', sans-serif;
                        font-weight: 700;
                        color: #222;
                        line-height: 24px;
                        margin: 0;
                    }

                    p {
                        color: #777;
                        font-size: 14px;
                        line-height: 24px;
                        margin: 0;
                    }
                }
            }
        }

        form {
            display: flex;
            max-width: 845px;
            height: 222px;
            gap: 30px;
            div {
                display: flex;
                flex-direction: column;
                gap: 15px;
                input {
                    border: 1px solid #eaeaea;
                    width: 410px;
                    height: 40px;
                    font-size: 13px;
                    outline: none;
                    padding-left: 20px;
                }
            }

           div{
            display: flex;
            flex-direction: column;
            gap: 25px;
            align-items: end;
            textarea {
                border: 1px solid #eaeaea;
                width: 410px;
                height: 140px;
                padding-left: 20px;
            }

            button {
                width: 190px;
                height: 50px;
                border-radius: 5px;
                border: none #faba00;
                background-color: #faba00;
                transition: all 300ms;
                margin: 0;
                font-size: 13px;
                color: #fff;
                font-weight: 700;
                &:hover {
                    border: 1px solid #faba00;
                    background-color: transparent;
                    color: #faba00;
                }
            }
           }
        }
    }
}