footer {
    height: 425px;
    width: 100%;
    background-color: #222222;

    .footer {
        max-width: 1170px;
        min-height: 425px;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .about-footer {
            width: 457px;
            height: 185px;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h2 {
                margin: 0;
                font-size: 20px;
                color: #fff;
                font-weight: 700;
                font-family: 'Heebo', sans-serif;
            }

            p {
                font-size: 14px;
                color: #777777;
                line-height: 24px;

                span {
                    color: #faba00;
                }
            }
        }

        .newsletter {
            width: 487px;
            height: 185px;
            margin: 0;
            display: flex;
            flex-direction: column;
            gap: 15px;
            padding: 0px 45px;
            h2 {
                font-size: 20px;
                color: #fff;
                font-weight: 700;
                font-family: 'Heebo', sans-serif;
                margin: 0;
                line-height: 24px;
            }

            p {
                font-size: 14px;
                color: #777777;
                margin: 0;
                line-height: 24px;
                margin-top: 15px;
            }

            .input {
                height: 40px;
                width: 400px;
                background-color: #fff;

                input {
                    width: 355px;
                    height: 40px;
                    border: none;
                    background-color: transparent;
                    color: #cccccc;
                    outline: none;
                    padding: 0 15px;
                }

                button {
                    width: 45px;
                    height: 40px;
                    background-color: #faba00;
                    border: none;
                    color: #fff;
                    outline: none;

                }
            }
        }

        .follow-footer {
            width: 195px;
            height: 185px;
            margin: 0;
            display: flex;
            flex-direction: column;
            gap: 15px;
            padding: 0px 15px;
            h2 {
                font-size: 20px;
                color: #fff;
                font-weight: 700;
                font-family: 'Heebo', sans-serif;
                margin: 0;
                line-height: 24px;
            }

            p {
                font-size: 14px;
                color: #777777;
                margin: 0;
                margin-top: 15px;
                line-height: 24px;
            }

            .icons-footer {
                margin: 0;
                width: 110px;
                display: flex;
                margin: 0;
                justify-content: space-between;
                i {
                    font-size: 13.5px;
                    color: #cccccc;
                    margin: 0;
                    &:hover {
                        color: #faba00;
                    }
                }
            }
        }
    }
}