#posts {
    .posts-container {
        max-width: 1170px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        h1 {
            font-family: 'Heebo', sans-serif;
            font-size: 36px;
            line-height: 44px;
            color: #222;
            text-align: center;
        }

        p {
            text-align: center;
            font-size: 14px;
            line-height: 24px;
            color: #777;
            max-width: 740px;
        }

        .posts-cards {
            display: flex;
            .posts-card {
                img {
                    width: 360px;
                    height: 260px;
                }

                .post-card-text {
                    width: 360px;
                    height: 180px;
                    .btn-group {
                        .current-btn {
                            background-color: #faba00;
                            border: 0 #faba00;
                            width: 75px;
                            height: 30px;
                            a {
                                color: white;
                                font-size: 12px;
                            }
                        }

                        .next-btn {
                            width: 90px;
                            height: 30px;
                            a {
                                font-size: 12px;
                            }
                        }
                    }

                    a {}

                    p {
                        text-align: left;
                        margin: 0;
                    }

                    span {}
                }
            }
        }
    }
}